<div class="container contents w-50">
  <% if @customer.errors.any? %>
  <% end %>
  <div class="py-5 text-center">
    <h2>Sign up</h2>
  </div>
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="row">
          <div class="col">
            <%=f.label :last_name, "姓" %>
            <%= f.text_field :last_name, autofocus: true, class: "form-control rounded-pill" %>
            <% if @customer.errors.include?(:last_name) %>
              <p style="color: red;"><%= @customer.errors.full_messages_for(:last_name).first %>
            <% end %>
          </div>
          <div class="col-md-6 mb-3">
            <%=f.label :last_name, "名" %>
            <%= f.text_field :first_name, autofocus: true, class: "form-control rounded-pill" %>
            <% if @customer.errors.include?(:first_name) %>
              <p style="color: red;"><%= @customer.errors.full_messages_for(:first_name).first %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%=f.label :last_name, "セイ" %>
            <%= f.text_field :last_name_kana, autofocus: true, class: "form-control rounded-pill" %>
            <% if @customer.errors.include?(:last_name_kana) %>
              <p style="color: red;"><%= @customer.errors.full_messages_for(:last_name_kana).first %>
            <% end %>
          </div>
          <div class="col-md-6 mb-3">
            <%=f.label :last_name, "メイ" %>
            <%= f.text_field :first_name_kana, autofocus: true, class: "form-control rounded-pill" %>
            <% if @customer.errors.include?(:first_name_kana) %>
              <p style="color: red;"><%= @customer.errors.full_messages_for(:last_name_kana).first %>
            <% end %>
          </div>
        </div>
        <div class="mb-3">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, class: "form-control rounded-pill" %>
          <% if @customer.errors.include?(:email) %>
            <p style="color: red;"><%= @customer.errors.full_messages_for(:email).first %>
          <% end %>
        </div>
        <div class="row">
          <div class="col mt-2">
            <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
          </div>
          <div class="col-md-6 mb-3">
          </div>
        </div>
        <div class="row w-50">
          <div class="col-md-6">
            <%= f.text_field :postal_code, autofocus: true, class: "form-control rounded-pill " %>
          </div>
          <div class="col-md-9 mb-7">
            <% if @customer.errors.include?(:postal_code) %>
              <p style="color: red;"><%= @customer.errors.full_messages_for(:postal_code).first %>
            <% end %>
          </div>
        </div>
        <div class="mb-3 mt-2">
          <%= f.label :addres, "住所" %>
          <%= f.text_field :address, autofocus: true, class: "form-control rounded-pill" %>
          <% if @customer.errors.include?(:address) %>
            <p style="color: red;"><%= @customer.errors.full_messages_for(:address).first %>
          <% end %>
        </div>
        <div class="row">
          <div class="col mt-2">
            <%= f.label :telephone_number, "電話番号(ハイフンなし)" %>
          </div>
          <div class="col-md-6 mb-3">
          </div>
        </div>
        <div class="row w-75">
          <div class="col">
            <%= f.text_field :telephone_number, autofocus: true, class: "form-control rounded-pill" %>
            <% if @customer.errors.include?(:telephone_number) %>
              <p style="color: red;"><%= @customer.errors.full_messages_for(:telephone_number).first %>
            <% end %>
          </div>
          <div class="col-md-6 mb-3">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.label :password, "パスワード（６文字以上）" %>
            <% if @minimum_password_length %><% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control rounded-pill"  %>
            <% if @customer.errors.include?(:password) %>
              <p style="color: red;"><%= @customer.errors.full_messages_for(:password).first %>
            <% end %>
          </div>
          <div class="col-md-6 mb-3">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.label :password, "パスワード（確認用）" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control rounded-pill"  %>
            <% if @customer.errors.include?(:password_confirmation) %>
              <p style="color: red;"><%= @customer.errors.full_messages_for(:password_confirmation).first %>
            <% end %>
          </div>
          <div class="col-md-6 mb-3">
          </div>
        </div>
        <div class=" row mx-auto signup-btn-area" style="width: 200px;">
           <%= f.submit "新規登録", class: "btn btn-lg btn-secondary signup-btn" %>
        </div>
      <% end %>
      <div class="row footer-area">
        <div class="col text-center"><p>すでに登録済みの方は<%= link_to "こちら",customer_session_path %>からログインしてください。</p></div>
      </div>
</div>





