<h3>注文方法確認</h3>
<div>
  <table>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= attachment_image_tag cart_item.item, :image, size: "50x50" %><%= cart_item.item.name %></td>
        <td><%= (cart_item.item.price * 1.1).round %></td>
        <td><%= cart_item.amount %></td>
        <td><%= (cart_item.item.price * 1.1).round * cart_item.amount %></td>
      </tr>
    <% end %>
  </table>
  <div>
    <table>
      <tr>
        <th>送料</th>
        <td>800</td>
      </tr>
      <tr>
        <th>商品合計</th>
        <td><%= @total_price %></td>
      </tr>
      <tr>
        <th>請求金額</th>
        <td><%= @total_price + 800 %></td>
      </tr>
    </table>
  </div>
</div>
<div>
  <h4>支払方法</h4>
</div>
<div>
  <h4>お届け先</h4>
  <ul>
    <li>〒<%= %></li>
    <li></li>
    <li></li>
  </ul>
</div>
<%= link_to "注文を確定する",