<h3>注文方法確認</h3>
<div>
  <table>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= attachment_image_tag cart_item.item, :image, size: "50x50" %><%= cart_item.item.name %></td>
        <td><%= cart_item.item.taxin_price %></td>
        <td><%= cart_item.amount %></td>
        <td><%= cart_item.item.taxin_price  * cart_item.amount %></td>
      </tr>
    <% end %>
  </table>
  <div>
    <table>
      <tr>
        <th>送料</th>
        <td><%= 800 %></td>
      </tr>
      <tr>
        <th>商品合計</th>
        <td><%= @total_price %></td>
      </tr>
      <tr>
        <th>請求金額</th>
        <td><%= @total_price + 800 %></td>
      </tr>
    </table>
  </div>
</div>
<div>
  <h4>支払方法</h4>
</div>
<div>
  <h4>お届け先</h4>
  <ul>
    <li>〒<%= @order_postal_code %></li>
    <li><%= @order_address %></li>
    <li><%= @order_name %></li>
  </ul>
</div>
<div>
  <%= form_with model: @order,url: customers_customer_orders_path(@customer.id), method: :post, local: true do |f| %>
    <%= f.hidden_field :customer_id, value: current_customer.id %>
    <%= f.hidden_field :shipping_cost, value: 800 %>
    <%= f.hidden_field :total_payment, value: @total_payment %>
    <% if params[:order][:address_select] == "0" %>
      <%= f.hidden_field :postal_code, value: @order_postal_code %>
      <%= f.hidden_field :address,value: @order_address %>
      <%= f.hidden_field :name,value: @order_name %>
    <% elsif params[:order][:address_select] == "1" %>
      <%= f.hidden_field :postal_code, value: @order_postal_code %>
      <%= f.hidden_field :address,value: @order_address %>
      <%= f.hidden_field :name,value: @order_name %>
    <% elsif params[:order][:address_select] == "2" %>
      <%= f.hidden_field :postal_code, value: @order_postal_code %>
      <%= f.hidden_field :address,value: @order_address%>
      <%= f.hidden_field :name,value: @order_name %>
    <% end %>
    <%=f.submit '注文を確定する',class: "btn btn-primary" %>
  <% end %>
</div>