  <div class= "frame">
    <div class= "line-image"><%= image_tag "order-line2.jpg" ,class: "order-line"%></div>
    <h3>お客様情報入力</h3>
    <div class= "main-contents">
    <%= form_with(model: @order,url: log_customers_customer_orders_path(@customer.id),method: :post, local: true) do |f| %>
      <div class= "paymethod-form">
        <h5>お支払方法</h5>
        <div class= "payment_method-btn">
          <ul>
            <li class= "radio-btn">
              <label><%= f.radio_button :payment_method, :クレジットカード, checked: true%>クレジットカード</label>
            </li>
            <li  class= "radio-btn">
              <label><%= f.radio_button :payment_method, :銀行振込 %>銀行振込</label>
            </li>
          </ul>
        </div>
      </div>
      <div class= "address-form">
        <h5>お届け先</h5>
        <div class= "address-btn">
          <ul>
            <li  class= "radio-btn">
              <%= f.radio_button :address_select,0 ,checked: true %><%= f.label :address_select, "ご自身の住所", value: 0 %>
              <div class= "my-address">
                <div>
                  〒<%= @customer.postal_code %>
                  <%= @customer.address %>
                </div>
                <div>
                  <%= @customer.full_name %>
                </div>
              </div>
            </li>
            <li  class= "radio-btn">
              <div class=" text-center" style="color: red;"><%= flash[:alert1] %></div>
              <%= f.radio_button :address_select,1 %><%= f.label :address_select,"登録済み住所から選択", value: 1 %>
              <%= f.collection_select :oter_address, @addresses, :id, :full_address, include_blank: "選択して下さい" %>
            </li>
            <li>
              <div class= "radio-btn"><%= f.radio_button :address_select,2%><%= f.label :address_select,"新しいお届け先", value: 2 %></div>
              <div class=" text-center" style="color: red;"><%= flash[:alert2] %></div>
              <table class= "another-address">
                <tr>
                  <th><%= f.label "郵便番号（ハイフンなし）" %></th>
                  <td><%= f.text_field :postal_code %></td>
                </tr>
                <tr>
                  <th><%= f.label "住所" %></th>
                  <td class= "another-address-address"><%= f.text_field :address %></td>
                </tr>
                <tr>
                  <th><%= f.label "宛名" %></th>
                  <td><%= f.text_field :name %></td>
                </tr>
              </table>
            </li>
          </ul>
        </div>
      </div>
      <div class= "check-btn-area">
        <div class= "check-btn"><%= f.submit "確認画面へ進む", class: "btn btn-primary" %></div>
      </div>
    </div>
    <% end %>
  </div>