<h3 class="order-show-title">注文履歴詳細</h3>
<div class= "order-contents">

  <div class="left-side">
    <div class= "order-content">
      <h5 class=" w-75">注文内容</h5>
      <table class="order-table">
        <tr>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
        <% @order.order_items.each do |order| %>
        <tr>
          <td><%= order.item.name %></td>
          <td class="text-center"><%= (order.item.taxin_price).to_s(:delimited) %>円</td>
          <td class="text-center"><%= order.amount %>個</td>
          <td class="text-center"><%= (order.item.taxin_price * order.amount).to_s(:delimited) %>円</td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class= "right-side">
    <div class= "cost">
      <h5>請求情報</h5>
      <table class="cost-table">
        <tr>
          <th>商品合計</th>
          <td><%= @total_price.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th>配送料</th>
          <td><%= (@order.shipping_cost).to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th>ご請求額</th>
          <td><%= @total_payment.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>


    <div class= "info">
      <h5>注文情報</h5>
      <table class="info-table">
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime("%Y/%m/%d").to_s %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <ul>
              <li>〒<%= @order.postal_code %></li>
              <li><%= @order.address %></li>
              <li><%= @order.name %></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>
  </div>
</div>