<%= render 'admins/admin_sidebar' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2>ジャンル編集</h2>

      <%= form_with model:@genre, url: admins_genre_path(@genre),local:true do |f| %>
        <%= f.label :ジャンル名 %>
        <%= f.text_field :name, class: 'form-control' %>
        <div class="d-grid gap-2 col-4 mx-auto"><%= f.submit class: 'btn btn-success' %></div>
      <% end %>

    </div>
  </div>
</div>