<%= render 'admins/admin_sidebar' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      
      <h2>ジャンル一覧・追加</h2>
      
      <%= form_with model:@genre, url: admins_genres_path,remoto:true do |f| %>
        <%= f.label :ジャンル名 %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.submit class: 'btn btn-success' %>
      <% end %>
      

<table class='table'>
  <thead>
    <tr>
      <th>id</th>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="genre">
    <%= render 'index', genres: @genres %>
  </tbody>
</table>
 
    </div>
  </div>
</div>