<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12 mx-auto mb-5 text-center'>
      <% @genres.each do |genre| %>
        <%= link_to genre.name, admins_genre_path(genre), class: "link-style2 mx-3" %>
      <% end %>
      <h3 class="mt-3"><%= @genre.name %>一覧（全 <%= @amount %> 件）</h3>
      <div class="item-index d-flex flex-wrap mt-3 mx-auto">
        <%= render "customers/items/item_each", items: @items %>
      </div>
      <%= paginate @items %>
    </div>
  </div>
</div>
