
<h1 class= "profile-title">my page</h1>
<div class= "profile-body">
    <header class="leftNavigation">
      <div class= "leftNavigation-list" >
        <div class="profile-content">
          <%= link_to customers_customer_orders_path(@customer),class: "a-tag" do %>
            <div class="order-list"><i class="fas fa-shopping-cart"></i>注文履歴</div>
          <% end %>
        </div>
        <div class="profile-content">
          <%= link_to edit_customers_customer_path(@customer.id),class: "a-tag" do %>
            <div class="order-list"><i class="fas fa-user-edit"></i>会員情報編集</div>
          <% end %></div>
        <div class="profile-content"> <%= link_to customers_customer_addresses_path(@customer),class: "a-tag" do %>
              <div class="order-list"><i class="fas fa-truck tarck-i"></i>登録配達先</div>
            <% end %>
        </div>
      </div>
    </header>
    <div class="private-content">
      <table>
        <tr>
          <th>氏名</th>
          <td><%= @customer.last_name %><%= @customer.first_name %></p></td>
        </tr>
        <tr>
          <th>カナ</th>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></p></td>
        </tr>
         <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td>〒<%= @customer.postal_code %></p></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
      </table>
    </div>
</div>


