
<h1 class= "profile-title">my page</h1>
<div class= "profile-body">
    <header class="leftNavigation">
      <div class= "leftNavigation-list" >
        <div class="profile-content">
          <%= link_to customers_customer_orders_path(@customer),class: "a-tag" do %>
            <div class="order-list"><i class="fas fa-shopping-cart text-left"></i>注文履歴</div>
          <% end %>
        </div>
        <div class="profile-content">
          <%= link_to edit_customers_customer_path(@customer.id),class: "a-tag" do %>
            <div class="order-list"><i class="fas fa-user-edit"></i>会員情報編集</div>
          <% end %></div>
        <div class="profile-content"> <%= link_to customers_customer_addresses_path(@customer),class: "a-tag" do %>
              <div class="order-list"><i class="fas fa-truck tarck-i"></i>登録配達先</div>
            <% end %>
        </div>
      </div>
    </header>
    <div class="private-content">
      <table>
        <tr>
          <th><p class= "profile-th">氏名</p></th>
          <td><p class= "profile-td"><%= @customer.last_name %><%= @customer.first_name %></p></td>
        </tr>
        <tr>
          <th><p class= "profile-th">カナ</p></th>
          <td><p class= "profile-td"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></p></td>
        </tr>
         <tr>
          <th><p class= "profile-th">メールアドレス</p></th>
          <td><p class= "profile-td"><%= @customer.email %></p></td>
        </tr>
        <tr>
          <th><p class= "profile-th">郵便番号</p></th>
          <td><p class= "profile-td">〒<%= @customer.postal_code %></p></td>
        </tr>
        <tr>
          <th><p class= "profile-th">住所</p></th>
          <td><p class= "profile-td"><%= @customer.address %></p></td>
        </tr>
        <tr>
          <th><p class= "profile-th">電話番号</p></th>
          <td><p class= "profile-td"><%= @customer.telephone_number %></p></td>
        </tr>
      </table>
    </div>
</div>


