<h1>マイページ</h1>
<table>
  <tr>
    <td><h4>登録情報</h4></td>
    <td><%= link_to "編集する", edit_customers_customer_path(@customer.id), class: "btn btn-success" %></td>
  </tr>
  <tr>
    <td>氏名</td>
    <td><%= @customer.last_name %><%= @customer.first_name %></td>
  </tr>
  <tr>
    <td>カナ</td>
    <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td><%= @customer.postal_code %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= @customer.address %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= @customer.telephone_number %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @customer.email %></td>
  </tr>
</table>
<%= link_to "配送先一覧を見る", customers_customer_addresses_path(@customer), class: "btn btn-info"  %>
<%= link_to "注文履歴一覧を見る", order_item_path(@customer), class: "btn btn-info" %> <%# のちにパス変更%>