<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-6 px-5 px-sm-0 mx-auto">


      <table class='table'>
        <thead>
          <tr>
            <th colspan=2 class="text-center"><%= @customer.last_name %> <%= @customer.first_name %>さんの会員情報</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>

          <tr>
            <td>氏名</td>
            <td><%= @customer.last_name %> <%= @customer.first_name %></td>
          </tr>

          <tr>
            <td>フリガナ</td>
            <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
          </tr>

          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>

          <tr>
            <td>電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>

          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>

          <tr>
            <td>会員ステータス</td>
            <td><%= @status %></td>
          </tr>

        </tbody>
      </table>
      <div class="text-center">
        <%= link_to '編集する', edit_admins_customer_path(@customer), class: "btn btn-outline-success" %>
        <%= link_to '注文一覧を見る', admins_orders_path, class: "btn btn-outline-success" %>
      </div>
    </div>
  </div>
</div>