<%= render 'admins/admin_sidebar' %>
<div class="container">
  <div class="row">
    <div class='col-sm-12 col-md-9 col-lg-7 px-5 px-sm-0 mx-auto text-center'>
      <h3>商品一覧</h3>
      <div class="text-right">
        <%= link_to new_admins_item_path, class: "admin-item-link" do %>
          <i class="fa fa-plus"></i>
        <% end %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th style="width:5%">ID</th>
            <th style="width:35%">商品名</th>
            <th style="width:20%">税抜価格</th>
            <th style="width:20%">ジャンル</th>
            <th style="width:20%">ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to "#{item.name}", admins_item_path(item), class:"admin-item-link" %></td>
            <td><%= item.price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.is_active == true %>
      					<p class="is-active-true">販売中</p>
      				<% elsif item.is_active == false %>
      					<p class="is-active-false">販売停止中</p>
      				<% end %>
      			</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>