<%= render 'admins/admin_sidebar' %>
<div class="container">
  <div class="row">
    <div class='col-sm-12 col-md-9 col-lg-7 px-5 px-sm-0 mx-auto text-center'>
      <h2>商品一覧</h2>
      <div class="text-right">
        <%= link_to new_admins_item_path, class: "admin-item-link" do %>
          <i class="fa fa-plus fa-lg"></i>
        <% end %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th colspan="2">商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td class="align-middle pl-1">
              <%= link_to admins_item_path(item), class:"admin-item-link" do %>
                <%= attachment_image_tag item, :image, size:"60x40", style:"border-radius:5%" %>
              <% end %>
            </td>
            <td class="align-middle text-left">
              <%= link_to admins_item_path(item), class:"admin-item-link" do %>
                <%= item.name %>
              <% end %>
            </td>
            <td class="align-middle"><%= item.price.to_s(:delimited) %></td>
            <td class="align-middle"><%= item.genre.name %></td>
            <td class="align-middle">
              <% if item.is_active == true %>
      					<p class="is-active-true">販売中</p>
      				<% elsif item.is_active == false %>
      					<p class="is-active-false">販売停止中</p>
      				<% end %>
      			</td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @items %>
    </div>
  </div>
</div>