<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'sidebar' %>
    </div>
    <div class='col-md-9'>
      <h3>商品一覧（全 <%= @items.count %> 件）</h3>
      <% @items.each do |item| %>
        <div class="item-box">
          <%= attachment_image_tag item, :image, size:"50x50" %>
          <%= item.name %>
          ￥<%= item.price.to_s(:delimited) %>
        </div>
      <% end %>
    </div>
  </div>
</div>