<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'sidebar' %>
    </div>
    <div class='col-md-9'>
      <h3>商品一覧（全 <%= @items.count %> 件）</h3>
      <div class="item-index d-flex flex-wrap">
        <% @items.each do |item| %>
          <div class="item-box mx-2">
            <%= attachment_image_tag item, :image, size:"180x130" %><br>
            <%= link_to "#{item.name}", customers_item_path(item) %><br>
            ￥<%= item.price.to_s(:delimited) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>