<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'sidebar' %>
    </div>
    <div class='col-md-9'>
      <div class="item-image">
        <%= attachment_image_tag @item, :image, size:"80x80" %>
      </div>
      <div class="item-detail">
        <%= @item.name %>
        <%= @item.introduction %>
        ￥<%= @item.price.to_s(:delimited) %>（税込）
        <select name="cnt">
          <option value="個数選択" selected>個数選択</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <%= f.select :is_active ,[['販売中',true],['販売停止中',false]] %>
        <%= link_to "カートに入れる", root_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>