<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12 mx-auto mb-5 text-center'>
      <% @genres.each do |genre| %>
        <%= link_to genre.name, admins_genre_path(genre), class: "link-style2 mx-3" %>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto item-show'>
      <div class="mx-3">
        <%= attachment_image_tag @item, :image, size:"500x380", style:"border-radius:5%" %>
      </div>
      <div class="item-detail mx-3">
        <p class="item-show-name"><%= @item.name %></p><br>
        <p><%= @item.introduction %></p><br>
        <p>￥<%= @item.taxin_price.to_s(:delimited) %>（税込）</p><br>
        <p><%= link_to "レビュー", customers_rate_path %>
            <div id="rate_<%= @item.id %>"></div>
            <script>
              $('#rate_<%= @item.id %>').raty({
                size: 20,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= @item.avg_score %>,
              });
            </script>
          </p><%= @item.avg_score %>
        <div>
          <% if @item.is_active == true %>
            <%= form_with model: @cart_item, url: customers_cart_items_path do |f| %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <div style="color: red;"><%= flash[:order_item] %></div>
              <%= f.select :amount, options_for_select((1..10).to_a), include_blank: "個数選択" %><br>
              <%= f.submit "カートに入れる", class: "btn btn-success" %>
            <% end %>
          <% else %>
            <p class="sold-out-show">sold out</p>
          <% end %>
          <br><br><br>
          <%= link_to "一覧に戻る", customers_items_path, class:"return-index" %>
        </div>
      </div>
    </div>
  </div>
</div>