
<div class="main_imgBox">
  <div class="main_img" style="background-image: url(assets/top/cheesecake.jpg)"></div>
  <div class="main_img" style="background-image: url(assets/top/mountain.jpg)"></div>
  <div class="main_img" style="background-image: url(assets/top/strawberrycake.jpg)"></div>
  <div class="main_img" style="background-image: url(assets/top/cupcake.jpeg)"></div>
  <div class="main_img" style="background-image: url(assets/top/loghouse.jpeg)"></div>
  <div class="main_img" style="background-image: url(assets/top/meringue.jpeg)"></div>
</div>
<div class="text-center my-5">
  ようこそ、ながのCAKEへ！<br><br>
  このサイトは、ケーキ販売のECサイトになります。<br><br>
  会員でない方も商品の閲覧はできますが、<br><br>
  購入には会員登録が必要になります。
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-10 mx-auto'>
      <div>
        <h3 class="mt-5">新着商品</h3>
        <div class="item-index d-flex flex-wrap mt-3">
          <% @items.last(4).reverse_each do |item| %>
            <div class="item-box mx-2 text-center">
              <%= link_to customers_item_path(item), class: "link-style" do %>
                <%= attachment_image_tag item, :image, size:"200x160", style:"border-radius:5%" %><br>
                <%= item.name %>
              <% end %><br>
              ￥<%= item.taxin_price.to_s(:delimited) %>
            </div>
          <% end %>
        </div>
        <p class="text-right"><%= link_to "全ての商品を見る", customers_items_path, class: "link-style" %></p>
      </div>
    </div>
  </div>
</div>