<div class="main_imgBox">
  <div class="main_img" style="background-image: url(assets/top/cheesecake.jpg)"></div>
  <div class="main_img" style="background-image: url(assets/top/mountain.jpg)"></div>
  <div class="main_img" style="background-image: url(assets/top/strawberrycake.jpg)"></div>
  <div class="main_img" style="background-image: url(assets/top/cupcake.jpeg)"></div>
  <div class="main_img" style="background-image: url(assets/top/loghouse.jpeg)"></div>
  <div class="main_img" style="background-image: url(assets/top/meringue.jpeg)"></div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-12 mx-auto'>
      <div class="text-center mt-5 mb-4">
        ようこそ、ながのCAKEへ！<br><br>
        このサイトは、ケーキ販売のECサイトになります。<br><br>
        会員でない方も商品の閲覧はできますが、<br><br>
        購入には会員登録が必要になります。
      </div>
      <h3>新着商品</h3>
      <div class="item-index d-flex flex-wrap mt-3">
        <% @items.last(4).reverse_each do |item| %>
          <div class="mx-auto text-center">
            <%= link_to customers_item_path(item), class: "link-style" do %>
              <%= attachment_image_tag item, :image, size:"250x190", style:"border-radius:5%" %><br>
              <p class="item-index-name mt-2"><%= item.name %></p>
            <% end %>
            ￥<%= item.taxin_price.to_s(:delimited) %>
          </div>
        <% end %>
      </div>
      <br>
      <p class="text-right"><%= link_to "全ての商品を見る", customers_items_path, class: "link-style2" %></p>
    </div>
  </div>
</div>