<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'sidebar' %>
    </div>

    <div class='col-md-9'>
      <div class="top-image text-center text-light">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </div>
      <div class="new_items">
        <h3>新着商品</h3>
        <div class="item-index d-flex flex-wrap">
          <% @items.last(4).reverse_each do |item| %>
            <div class="item-box mx-2">
              <%= attachment_image_tag item, :image, size:"180x130" %><br>
              <%= link_to "#{item.name}", customers_item_path(item) %><br>
              ￥<%= item.taxin_price.to_s(:delimited) %>
            </div>
          <% end %>
        </div>
        <p class="text-right"><%= link_to "全ての商品を見る", customers_items_path %></p>
      </div>


    </div>
  </div>
</div>