<% infomations.each do |infomation| %>
  <tr>
    <% if infomation.status == "未回答" %>
      <td style="color: red; font-weight: 900"><%= infomation.status %></td>
    <% else %>
      <td style="font-weight: 900"><%= infomation.status %></td>
    <% end %>
      <td><%= infomation.created_at.strftime("%Y/%m/%d %H:%M").to_s %></td>
      <td><%= infomation.name %></td>
      <td><%= infomation.genre_i18n %></td>
      <td class="text-center"><%= link_to "表示する", infomation_path(infomation), class: "btn btn-secondary" %></td>
  </tr>
<% end %>