<div class="infomation-content-flame">
    <h3 class="text-center">お問い合わせフォーム</h3>
    <div class="infomation-content">
    <%= form_with model: @infomation,url: infomations_path, method: :post ,local: true do |f| %>
      <table>
        <tr>
          <th><%= f.label :name,"お名前" %></th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th><%= f.label :telephone_number,"電話番号" %></th>
          <td><%= f.text_field :telephone_number %></td>
        </tr>
        <tr>
          <th><%= f.label :email,"メールアドレス" %></th>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <th><%= f.label :content,"お問い合わせのカテゴリー" %></th>
          <td><%= f.select :genre,options_for_select(Infomation.genres.keys), include_blank: "選択して下さい" %></td>
        </tr>
        <tr>
          <th><%= f.label :content,"お問い合わせ内容" %></th>
          <td><%= f.text_area :content %></td>
        </tr>
      </table>
    </div>
    <div class= "infomation-submit">
      <%= f.submit "送信" %>
    </div>
    <% end %>
</div>