<div class="show-infomation-content-flame">
    <h3 class="text-center">お問い合わせフォーム</h3>
    <div class="show-infomation-content">
      <table>
        <tr>
          <th>問い合わせカテゴリー</th>
        </tr>
        <tr>
          <td><%= @infomation.genre %></td>
        </tr>
      </table>
      <table class= "show-content-table">
        <tr>
          <th>問い合わせ内容</th>
        </tr>
        <tr></tr>
          <td><%= @infomation.content %></td>
        </tr>
      </table>
      <table>
        <tr>
          <th>名前</th>
          <th>電話番号</th>
          <th>メールアドレス</th>
        </tr>
        <tr>
          <td><%= @infomation.name %></td>
          <td><%= @infomation.telephone_number %></td>
          <td><%= @infomation.email %></td>
        </tr>
      </table>
      <%= form_with model: @infomation,url: infomation_path(@infomation), method: :patch ,local: true do |f| %>
        <% if @infomation.status == "未回答" %>
          <%= f.hidden_field :status, value: "回答済み" %>
          <div class= "show-infomation-submit">
            <%= f.submit "回答済みにする" %>
          </div>
        <% else %>
          <%= f.hidden_field :status, value: "未回答" %>
          <div class= "show-infomation-submit">
            <%= f.submit "未回答に戻す" %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>