<div class="form-wrapper">
  <h1>Sign In</h1>
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-item">
      <%= f.email_field :email, :placeholder => "メールアドレス" %>
    </div>
    <div class="form-item">
      <%= f.password_field :password, :placeholder => "パスワード"  %>
    </div>
    <div class="button-panel login">
     <%= f.submit "ログイン", class: "btn btn-success btn-log" %>
    </div>
 　<% end %>
  <div class="form-footer"></div>
</div>
<div class="text-center">
  <h4>会員登録がお済みでない方</h4>
  <p><%= link_to "こちら",new_customer_registration_path %> から新規登録してください。</p>
</div>