<div class="container">
  <% if @cart_items.present? %>
    <div class= "line-image"><%= image_tag "order-line1.jpg" ,class: "order-line"%></div>
  <% end %>
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto my-2 text-center">
      <h3>ショッピングカート</h3>
      <% if @cart_items.present? %>
        <div class="cart-destroy-btn">
          <%= link_to "カートを空にする", cart_destroy_customers_cart_items_path(@cart_items), method: :delete, class:"cart-destroy-btn", data: {confirm:"カートの中身を全て削除してよろしいですか？"} %>
        </div>
        <table class="table" style="table-layout:fixed">
          <thead>
            <tr>
              <th style="width:35%">商品名</th>
              <th style="width:10%">単価(税込)</th>
              <th style="width:25%">数量</th>
              <th style="width:20%">小計</th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody>
              <% @cart_items.each do |cart_item| %>
                <tr>
                  <td class="cart-td"><%= attachment_image_tag cart_item.item, :image, size:"100x70", style:"border-radius:5%" %><br><%= cart_item.item.name %></td>
                  <td class="cart-td"><%= cart_item.item.taxin_price.to_s(:delimited) %></td>
                  <td class="cart-td">
                    <%= form_with model: cart_item, url: customers_cart_item_path(cart_item) do |f| %>
                      <%= f.hidden_field :item_id, value: cart_item.item.id %>
                      <%= f.number_field :amount, min: 1, class: "amount-change" %>
                      <%= f.submit "変更", class: "amount-change-btn" %>
                    <% end %>
                  </td>
                  <td class="cart-td"><%= (cart_item.item.taxin_price*cart_item.amount).to_s(:delimited) %></td>
                  <td class="cart-td"><%= link_to "削除", customers_cart_item_path(cart_item), method: :delete, class: "destroy-btn" %></td>
                </tr>
              <% end %>
          </tbody>
        </table>
        <div class="text-center">
          <p class="total-price">合計 <%= @total.round.to_s(:delimited) %>円</p>
          <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
          <%= link_to "情報入力に進む", new_customers_customer_order_path(current_customer), class: "btn btn-success" %>
        </div>

      <% else %>
        <p>カートは空です</p>
        <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
