<div class="container"  id="no_cart">
  <% if @cart_items.present? %>
    <div class= "line-image"><%= image_tag "order-line1.jpg" ,class: "order-line"%></div>
  <% end %>
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto text-center">
      <h3>ショッピングカート</h3>
      <% if @cart_items.present? %>
        <div class="cart-destroy-btn">
          <%= link_to "カートを空にする", cart_destroy_customers_cart_items_path(@cart_items), method: :delete, class:"cart-destroy-btn", data: {confirm:"カートの中身を全て削除してよろしいですか？"} %>
        </div>
        <table class="table" style="table-layout:fixed">
          <thead>
            <tr>
              <th style="width:35%">商品名</th>
              <th style="width:15%">単価(税込)</th>
              <th style="width:25%">数量</th>
              <th style="width:15%">小計</th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody>
              <% @cart_items.each do |cart_item| %>
                <tr id="cart_<%= cart_item.id %>">
                  <%= render 'cart', cart_item: cart_item %>
                </tr>
              <% end %>
          </tbody>
        </table>
        <div class="text-center">
          <p id="total_price">合計 <%= @total.round.to_s(:delimited) %>円</p>
          <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
          <%= link_to "情報入力に進む", new_customers_customer_order_path(current_customer), class: "btn btn-success" %>
        </div>
      <% else %>
        <%= render 'no_cart' %>
      <% end %>
    </div>
  </div>
</div>