<%= render 'admins/admin_sidebar' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

<table class='table'>
  <thead>
    <tr>
      <th>注文日</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>最終ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |orders| %>
      <tr>
        <td><%= orders.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= orders.name %></td>
        <td>
            <% @sum = 0 %>
            <% orders.order_items.each do |order_items| %>
              <% order_items.amount %>
              <% @sum += order_items.amount %>
            <% end %>
            <%= @sum %>
        </td>
        <td><%= orders.status %></td>
        <td><%= link_to '詳細', admins_order_path(orders) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>

    </div>
  </div>
</div>