<%= render 'admins/admin_sidebar' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 col-lg-5 px-5 px-sm-0 mx-auto">
      
<%= render 'search' %>

<table class='table'>
  <thead>
    <tr>
      <th>注文日</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |orders| %>
      <tr>
        <td><%= orders.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= orders.name %></td>
        <td>
            <% @sum = 0 %>
            <% orders.order_items.each do |order_items| %>
              <% order_items.amount %>
              <% @sum += order_items.amount %>
            <% end %>
            <%= @sum %>
        </td>
        <td><%= orders.status %></td>
        <td><%= link_to '詳細', admins_order_path(orders), class: "btn btn-outline-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>

<h3>オーダー数の前日比・前週比</h3>
  <div class="table_width">
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>今日のオーダー数</th>
          <th>前日のオーダー数</th>
          <th>前日比</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%=  @orders.created_today.count %></td>
          <td><%= @orders.created_yesterday.count %></td>
          <td>
            <% if @orders.created_yesterday.count == 0 %>
              前日のオーダーが0のため計算できません
            <% else %>
              <% @the_day_before =   @orders.created_today.count / @orders.created_yesterday.count.to_f  %>
              <%= (@the_day_before * 100).round %>%
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table_width">
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>今週のオーダー数</th>
          <th>前週のオーダー数</th>
          <th>前週比</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @orders.created_this_week.count %></td>
          <td><%= @orders.created_last_week.count %></td>
          <td>
            <% if @orders.created_last_week.count == 0 %>
              前週のオーダーが0のため計算できません
            <% else %>
              <% @the_week_before = @orders.created_this_week.count / @orders.created_last_week.count.to_f  %>
              <%= (@the_week_before * 100).round %>%
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <%= line_chart @data %>

<h4>7日間分のオーダー数</h4>
  <table class='table table-bordered'>
    <thead>
      <tr> 
        <th>６日前</th>
        <th>５日前</th>
        <th>４日前</th>
        <th>３日前</th>
        <th>２日前</th>
        <th>１日前</th>
        <th>今日</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @orders.created_6day_ago.count %></td>
        <td><%= @orders.created_5day_ago.count %></td>
        <td><%= @orders.created_4day_ago.count %></td>
        <td><%= @orders.created_3day_ago.count %></td>
        <td><%= @orders.created_2day_ago.count %></td>
        <td><%= @orders.created_yesterday.count %></td>
        <td><%= @orders.created_today.count %></td>
      </tr>
    </tbody>
  </table>

    </div>
  </div>
</div>

