<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">


      <table style="border:none;">
        <thead>
          <tr>
            <th>注文履歴</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>購入者</td>
          　<td><%= @order.name %></td>
          </tr>
          
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          
          <tr>
            <td>配送先</td>
            <td><%= @order.address %> <%= @order.name %></td>
          </tr>
          
          <tr>
            <td>支払い方法</td>
            <td><%= @order.payment_method %></td>
          </tr>
          
          <tr>
            <td>注文</td>
            <%= form_with model:@order, url: admins_order_path(@order), local: true  do |f| %>
            <td> <%= f.select :status,  Order.statuses.keys %></br>
                  <% @order_items.each do |order_item| %>
                    <%= f.fields_for "order_items[]", order_item do |af| %>
                  　   <%= af.hidden_field :making_status, :value => "製作待ち" %>
                  　<% end %>
                  <% end %>
                  <%= f.submit '更新', class: "btn btn-success btn-sm"%>
                </td>
                <% end %>
          </tr>
          
        </tbody>
      </table>
      
      <table border="1">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          
          <% @order_items.each do |order_items| %>
            <tr>
              <td><%= order_items.item.name %></td>
              <td><%= order_items.price %></td>
              <td><%= order_items.amount %></td>
              <td><%= order_items.price*order_items.amount %></td>
              <td><%= form_with model:order_items, local: true  do |f| %>
                    <%= f.select :making_status, OrderItem.making_statuses.keys %>
                        <%= f.fields_for "orders[]", @order do |af| %>
                          <%= af.hidden_field :status, :value => "発送準備中" %>
                      　
                      <% end %>
                    </br><%= f.submit '更新', class: "btn btn-success btn-sm"%>
                  <% end %></td>
            </tr>
          <% end %>
          
        </tbody>
      </table>
      
      <table style= "border:none;" >
        <thead>
          <tr>
            <th><u>商品合計</u></th>
            <th>
              <% @sum = 0 %>
              <% @order_items.each do |order_items| %>
                <% order_items.price*order_items.amount %>
                <% @sum += order_items.price*order_items.amount %>
              <% end %>
              <u><%= @sum %>円</u>
            </th>
          </tr>
          <tr>
            <th><u>送料</u></th>
            <th><u><%= @order.shipping_cost %>円</u></th>
          </tr>
          <tr>
            <th><u>合計金額</u></th>
            <th><u><%= @sum += @order.shipping_cost %>円</u></th>
          </tr>
          
        </thead>
        <tbody>
          
        </tbody>
      </table>
      
    
    </div>
  </div>
</div>