<div class='row'>
  <div class='col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto item-show'>
    <div class="mx-3"> 
      <%= attachment_image_tag @item, :image, size:"500x380", style:"border-radius:5%" %>
    </div>
 
 <div class="item-detail mx-3">
        <p class="item-show-name"><%= @item.name %></p><br>
        <p><%= @item.introduction %></p><br>
        <p>￥<%= @item.taxin_price.to_s(:delimited) %>（税込）</p><br>
        <p><%= form_with model:@rate, url: customers_rates_path,local:true do |f| %>

            <div class="form-group" id="star">
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.hidden_field :customer_id, :value => @current_user %>
              <%= f.label :star %>
              <%= f.hidden_field :star, id: :review_star, class:'form-control' %>
            </div>
          
            <script>
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'rate[star]',
              half: true,
            });
            </script>
          
            <div class="form-group">
              <%= f.submit class: 'btn btn-success' %>
            </div>
          <% end %>

          </p>

    </div>
  </div>
</div>