<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <%= image_tag 'kawamura.jpg' ,class: "kawamura"%>
      <a class="navbar-title" href="/">ながのCAKE</a>
      <% if admin_signed_in? %>
        <div class="navbar-collapse">
          <%= render 'admins/admin_sidebar' %>
        </div>
      <% elsif customer_signed_in? && current_customer.is_deleted == false %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li>
              <%= link_to customers_customer_path(current_customer.id),class: 'nav-link text-light' do %>
                <i class="fas fa-home"></i> my page
              <% end %>
            </li>
            <li>
              <%= link_to customers_items_path,class: 'nav-link text-light' do %>
                <i class="fas fa-cookie-bite"></i> item
              <% end %>
            </li>
            <li>
              <%= link_to customers_cart_items_path,class: 'nav-link text-light' do %>
                <i class="fas fa-shopping-cart"></i> cart
              <% end %>
            </li>
            <li>
              <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> logout
              <% end %>
            </li>
            <li>
              <%= link_to new_infomation_path,class: 'nav-link text-light' do %>
                <i class="fas fa-question-circle"></i> info
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li>
              <%= link_to about_path,class: 'nav-link text-light' do %>
                <i class="fas fa-store-alt"></i> about
              <% end %>
            </li>
            <li>
              <%= link_to customers_items_path,class: 'nav-link text-light' do %>
                <i class="fas fa-cookie-bite"></i> item
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
                <i class="fas fa-user-plus"></i> sign up
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_session_path ,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-in-alt"></i> login
              <% end %>
            </li>
            <li>
              <%= link_to new_infomation_path,class: 'nav-link text-light' do %>
                <i class="fas fa-question-circle"></i> info
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
      <%= render 'layouts/search' %>
      <%= render 'layouts/guest' %>
    </div>
  </nav>
</header>